.theme-toggle {
  &__track {
    display: inline-flex;
    align-items: center;
    width: 34px;
    height: 18px;
    border-radius: 999px;
    border: 1px solid currentColor;
    padding: 2px;
  }

  &__thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: currentColor;
    transition: transform 0.4s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &[aria-pressed='true'] &__thumb {
    transform: translateX(15px);
  }
}
